<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.smile.mde">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- 百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="OFC2bSoS91TPT02SHGBtKOhGRhLon0f2" />
        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="9129184576896bcc6ba33c5aa4c19d69" />

        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.TwoRecyclerViewActivity" />
        <activity
            android:name=".ui.activity.FaceRectActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".ui.activity.ToolBarActivity" />
        <activity android:name=".ui.activity.design.CoordinatorLayoutActivity" />
        <activity android:name=".ui.activity.design.Demo1Activity" />
        <activity android:name=".ui.activity.design.Demo2Activity" />
        <activity android:name=".ui.activity.design.Demo3Activity" />
        <activity android:name=".ui.activity.ConstraintLayoutActivity" />
        <activity android:name=".ui.activity.mpandroidchart.MPAndroidChartActivity" />
        <activity android:name=".ui.activity.AMapActivity" />
        <activity android:name=".ui.activity.design.Demo4Activity" />
        <activity android:name=".ui.activity.BaiDuMapTrackActivity" />
        <activity android:name=".ui.activity.bluetooth.BluetoothActivity" />
        <activity android:name=".ui.activity.customize.CustomizeChartActivity" />
        <activity
            android:name=".ui.activity.customize.RotateCircleActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.audio_video.PlayVoiceActivity"
            android:label="@string/title_activity_play_voice" />

        <!-- 高德地图 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />
        <!-- 百度地图 定位需要的服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
    </application>

</manifest>